<form [formGroup]='user' (ngSubmit)='onSubmit()'>
  <span class="register100-form-title pb-0">
    Een account aanmaken
  </span>
  <div class="text-center pb-20">
    <a class="txt2" routerLink="/login">
      Of meld je aan
      <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
    </a>
  </div>

  <div *ngIf='errorMsg' class="text-center text-danger">{{errorMsg}}</div>
  <div class="wrap-input100">
    <input class="input100" type="text" id="email" formControlName='email' placeholder="E-mailadres">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf='user.get("email").errors?.required && user.get("email").touched'>
    E-mailadres is verplicht
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf='!user.get("email").errors?.required && user.get("email").errors?.email && user.get("email").touched'>
    Ongeldig E-mailadres
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf='user.get("email").errors?.userAlreadyExists && user.get("email").touched'>
    E-mailadres reeds in gebruik
  </div>

  <div class="wrap-input100">
    <input class="input100" type="text" id="username" formControlName='username' placeholder="Gebruikersnaam">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="far fa-id-card" aria-hidden="true"></i>
    </span>
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
    Gebruikersnaam is verplicht
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
    Gebruikersnaam moet minstens {{user.get("username").errors?.minlength.requiredLength }} characters zijn
  </div>
  <div class='wrap-input100 text-danger font-12 font-12' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
    Gebruikersnaam reeds in gebruik
  </div>

  <div formGroupName='passwordGroup'>
    <div class="wrap-input100">
      <input class="input100" type="password" id="password" formControlName='password' placeholder="Wachtwoord">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <div class='wrap-input100 text-danger font-12 font-12' *ngIf='passwordControl.errors?.passwordTooShort && passwordControl.touched'>
      Wachtwoord moet minstens {{passwordControl.errors?.passwordTooShort.requiredLength}} characters zijn.
    </div>


    <div class="wrap-input100">
      <input class="input100" type="password" id="confirmPassword" formControlName='confirmPassword' placeholder="Bevestig wachtwoord">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <div class='wrap-input100 text-danger font-12 font-12' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
      Wachtwoorden komen niet overeen
    </div>
  </div>


  <div class="container-register100-form-btn" [ngClass]="{'not-allowed-force':!user.valid}">
    <button type='submit' [disabled]='!user.valid' class="register100-form-btn">
      Registreer
    </button>
  </div>
</form>