<article class="post">
  <header>
    <div class="title">
      <h2>
        <a href="#">{{meeting.name}}</a>
      </h2>
      <p>{{meeting.shortDescription}}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{meeting.date | date : 'longDate'}}</time>
      <div class="author">
        <a class="name">{{meeting.gemeente}}</a>
        <i class="icon fa-map-marker font-40"></i>
      </div>
    </div>
  </header>
  <a href="#" class="image featured">
    <img src="{{meeting.imagePath}}" alt="" />
  </a>
  <p>{{meeting.fullDescription}}
  </p>
  <footer>
    <ul class="actions">
      <li>
        <a [routerLink]="['/meet-detail', meeting.name]" class="button big">Lees verder</a>
      </li>
    </ul>
    <ul class="stats">
        <a class="no-hover">
          <li class="" *ngFor="let categorie of meeting.categories">
            <app-category [name]="categorie"></app-category>
          </li>
        </a>
      <li>
        <a href="#" class="icon fa-heart">{{meeting.likeAmount}}</a>
      </li>
      <li>
        <a href="#" class="icon fa-comment">{{meeting.commentAmount}}</a>
      </li>
    </ul>
  </footer>
</article>
