<article class="post">
  <header>
    <div class="title">
      <h2>
        <a [routerLink]="['/meet-detail', meeting.id]">{{meeting.name}}</a>
      </h2>
      <p>{{meeting.shortDescription}}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{meeting.date | date : 'longDate'}}</time>
      <div class="author">
        <a class="no-hover name">{{meeting.gemeente}}</a>
        <i class="fab fa-periscope font-40"></i>
      </div>
    </div>
  </header>
  <div class="col-lg-9">
    <a title="Meer info" [routerLink]="['/meet-detail', meeting.id]" class="image featured">
      <img src="{{meeting.imagePath}}" alt="" />
    </a>
  </div>
  <div class="col-lg-3 visible-lg text-right">
    <p class="mb-5">Categoriën:</p>
    <div dir="rtl">
      <li *ngFor="let categorie of drieCategorien">
        <app-category [name]="categorie"></app-category>
      </li>
    </div>
    <br>
    <br>
    <a class="no-text-decoration-force clickable-force" (click)="onClickLike()" title="Vind ik leuk!">
      <i [ngClass]="{'color-dark-red': hasLiked}" class="far fa-heart"></i> {{likeAmount}}</a>
    <a class="no-text-decoration-force clickable-force" (click)="onClickGoing()" title="Daar ga ik heen!">
      <i [ngClass]="{'color-dark-red': isGoing}" class="far fa-check-circle"></i> {{goingAmount}}</a>
    <br>
    <a [routerLink]="['/meet-detail', meeting?.id]" class="button big mt-10">Meer info</a>
  </div>
  <div class="hidden-lg">
    <footer class="col-sm-9">
      <div class="">
        <a [routerLink]="['/meet-detail', meeting?.id]" class="button big mb-15">Meer info</a>
      </div>
      <div class="force-right pb-15">
        <a class="no-text-decoration-force clickable-force" (click)="onClickLike()">
          <i [ngClass]="{'color-dark-red': hasLiked}" class="far fa-heart"></i> {{likeAmount}}</a>
          <br>
        <a class="no-text-decoration-force clickable-force pr-20" (click)="onClickGoing()">
          <i [ngClass]="{'color-dark-red': isGoing}" class="far fa-check-circle"></i> {{goingAmount}}</a>
      </div>

    </footer>
  </div>
</article>