<article class="post">
  <header>
    <div class="title">
      <h2>
          <a href="#" class="far fa-heart"></a>
        <a class="no-hover">{{singleMeeting.name}}</a>
      </h2>
      <p>{{singleMeeting.shortDescription}}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{singleMeeting.date | date : 'longDate'}}</time>
      <div class="author">
        <a class="name">{{singleMeeting.gemeente}}</a>
        <i class="fab fa-periscope font-40"></i>
      </div>
    </div>
  </header>
  <img class="mb-15 image featured" src="{{singleMeeting.imagePath}}" alt="" />
  <p>{{singleMeeting.fullDescription}}</p>
  <a href="#" class="far fa-heart">{{singleMeeting.likeAmount}}</a>
</article>