<app-account-submenu></app-account-submenu>
<div class="col-md-8">

  <section class="AddMeetingSection text-center">
    <h3>Meeting toevoegen</h3>
    <div *ngIf='newMeetingErrorMsg' class="text-center text-danger">{{newMeetingErrorMsg}}</div>
    <form [formGroup]='newMeetingFormGroup' (ngSubmit)='onSubmitAddMeeting()'>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="name" formControlName='name' placeholder="Event naam*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fas fa-id-card-alt" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("name").touched && newMeetingFormGroup.get("name").errors?.required'>
        Het naamveld is verplicht.
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("name").touched && newMeetingFormGroup.get("name").errors?.maxlength'>
        De maximale lengte voor een naam is 25 characters.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="date" formControlName='date' placeholder="Datum van event (dd/mm/yyyy)*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="far fa-calendar-alt" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("date").touched && newMeetingFormGroup.get("date").errors?.required'>
        Het datumveld is verplicht.
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("date").touched && newMeetingFormGroup.get("date").errors?.pattern'>
        Het datumveld moet volgende indeling hebben: dd/mm/yyyy.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="gemeente" formControlName='gemeente' placeholder="Gemeente*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="far fa-compass" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("gemeente").touched && newMeetingFormGroup.get("gemeente").errors?.required'>
        Het gemeenteveld is verplicht.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="postcode" formControlName='postcode' placeholder="Postcode*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="far fa-compass" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("postcode").touched && newMeetingFormGroup.get("postcode").errors?.required'>
        Het postcodeveld is verplicht.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="straatnaam" formControlName='straatnaam' placeholder="Straatnaam*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="far fa-compass" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("straatnaam").touched && newMeetingFormGroup.get("straatnaam").errors?.required'>
        Het straatnaamveld is verplicht.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="straatnr" formControlName='straatnr' placeholder="Huisnummer*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="far fa-compass" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("straatnr").touched && newMeetingFormGroup.get("straatnr").errors?.required'>
        Het huisnummerveld is verplicht.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="shortDescription" formControlName='shortDescription' placeholder="Korte beschrijving event*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fas fa-align-center" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("shortDescription").touched && newMeetingFormGroup.get("shortDescription").errors?.required'>
        Een korte beschrijving is verplicht.
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("shortDescription").touched && newMeetingFormGroup.get("shortDescription").errors?.maxlength'>
        De maximale lengte voor een korte beschrijving is 80 characters.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="fullDescription" formControlName='fullDescription' placeholder="Uitgebreide beschrijving event*">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fas fa-align-center" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("fullDescription").touched && newMeetingFormGroup.get("fullDescription").errors?.required'>
        Een Uitgebreide beschrijving is verplicht.
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("fullDescription").touched && newMeetingFormGroup.get("fullDescription").errors?.maxlength'>
        De maximale lengte voor een korte beschrijving is 1500 characters.
      </div>

      <div class="wrap-input100 input100Max600px center-block">
        <input class="input100" type="text" id="site" formControlName='site' placeholder="Website van uw event">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fas fa-link" aria-hidden="true"></i>
        </span>
      </div>
      <div class='wrap-input100 text-danger font-12 font-12' *ngIf='newMeetingFormGroup.get("site").touched && newMeetingFormGroup.get("site").errors?.pattern'>
        Ongeldige url.
      </div>

      <h4>Kies alle passende categorieën*</h4>
      <div>
        <div *ngFor="let keuze of soortenMeetings">
          <a class="col-md-4">
            <input type="checkbox" name="categorie" [value]="keuze" (change)="onCheckChange($event)">{{keuze}}</a>
        </div>
      </div>

      <div class="container-addmeeting100-form-btn input100Max600px center-block" [ngClass]="{'not-allowed-force':!newMeetingFormGroup.valid}">
        <button type='submit' [disabled]='!newMeetingFormGroup.valid' id='chnangePasswordBtn' class="addmeeting100-form-btn">
          Voeg meeting toe
        </button>
      </div>
    </form>
  </section>


</div>
